.custom-checkbox-container {
  display: inline-block;

  .custom-checkbox-box {
    display: flex;
    align-items: center;

    &.left {
      flex-direction: row-reverse;
    }
    &.right {
      flex-direction: row;
    }

    .custom-checkbox {
      margin-left: 20rpx;
    }
  }
}

.custom-checkbox .wx-checkbox-input {
  width: 124rpx !important;
  height: 124rpx !important;
  border-radius: 50% !important;
  border: 1px solid #fda007 !important;
}
.wx-checkbox-input-checked {
  background-color: #fda007 !important;
}
.wx-checkbox-input.wx-checkbox-input-checked:before {
  font-size: 122rpx !important;
  color: #fff !important;
}
