.message {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 22px;
  font-weight: 400;
}

.content {
  font-size: 14px;
  color: #808695;
  line-height: 22px;
  font-weight: 400;
  padding: 16px 0 0 28px;
}

.input {
  padding-top: 16px;
  padding-left: 28px;
}

.errorMsg {
  margin-top: 8px;
  font-size: 12px;
  padding-left: 28px;
  color: var(--el-color-error);
}
